<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div style="text-align: center;">
  <h1>How to call API in Angular</h1>
<table border="1"> 
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th>Mass</th>
    <th>Hair_Color</th>
    <th>Skin_Color</th>
  </tr>
  
  <tr *ngFor="let x of userData">
    <td>{{x.name}}</td> 
    <td>{{x.height}}</td>
    <td>{{x.mass}}</td>
    <td>{{x.hair_color}}</td>
    <td>{{x.skin_color}}</td>
  </tr>
</table>

<tr mat-header-row *matHeaderRowDef="userData"></tr>
  <tr mat-row *matRowDef="let row; columns: userData;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</div>








